.Form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f8f9fa; 
    font-family: Arial, sans-serif;
}

.Form form {
    background: #ffffff; 
    padding: 2rem;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 400px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -404px;
}

.Form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

.Form input[type="email"],
.Form input[type="password"] {
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.Form input[type="email"]:focus,
.Form input[type="password"]:focus {
    border-color:  rgb(107, 166, 17);
    outline: none;
}

.Form input[type="submit"] {
    background-color: rgb(107, 166, 17);
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Form input[type="submit"]:hover {
    background-color: #0056b3;
}
